// vim:ft=rasi
@import "themes/default.rasi"

window {
    y-offset: -10%;
    padding:    20px;
    height: 8.5%;
}

entry {
    /*
     * For some reason, without this option, a dash/hyphen appears
     * at the end of the entry
     */
    expand: true;
    width: 220px;
    placeholder: "Input..";
}
