// vim:ft=rasi
@import "themes/default.rasi"

window {
    /* Change this value according to your screen height */
    y-offset: -10%;
    /* This padding is given just for aesthetic purposes */
    padding:    40px;
}

entry {
    /*
     * For some reason, without this option, a dash/hyphen appears
     * at the end of the entry
     */
    expand: true;
    /* Keeping using 200px so that long passwords can be typed */
    width: 220px;
}
